@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.Password != ViewBag.verify)
{
    <h3>@ViewBag.error</h3>
}

<form method="post" action="/user">
    <p><label>Username:<input type="text" name="Username" value="@ViewBag.Username" class="form-control"/></label></p>
    <p><label>Email:<input type="email" name="Email" value="@ViewBag.Email" class="form-control"/></label></p>
    <p><label>Password:<input type="password" name="Password" class="form-control"/></label></p>
    <p><label>Verify Password:<input type="password" name="verify" class="form-control"/></label></p>
    <p><label><input type="submit" value="Submit" class=="btn btn-primary"/>
    </label></p>
</form>